html,
body {
	padding: 0;
	margin: 0;
  text-align: center;
}

body {
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
}
.side {
	height: 100%;
}
.scroll-area {
	width: 100%;
	height:100%;
	margin-top:10px;
	background-color:black;
	overflow-y:scroll;
}
.header {
  font-weight: 100;
  font-size: 50px;
  line-height: 68px;
}
.user-container {
	position:relative;
	width:100%;
	height:100%;
}

@media (max-width: 900px) {
.heading {
    font-size: 32px;
    line-height: 40px;
  }
}
.subheader {
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
}
@media (max-width: 900px) {
  .subheader {
    font-size: 26px;
    line-height: 35px;
  }
}
.paragraph {
  font-size: 17px;
  line-height: 32px;
  font-weight: 100;
}
.heading + .paragraph {
  margin-top: 30px;
}
.subheader + .paragraph {
  margin-top: 15px;
}
p.paragraph {
  color: rgba(0,0,0,.5);
}
/*flexbox styles*/
.flex,
.spread,
.center,
.right,
.vertical,
.centervertical {
  display: flex;
}
.spread {
  justify-content: space-between;
}
.center {
  align-items: center;
  justify-content: center;
}
tr {
	text-align: left;
}
